.map-card {
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  width: 300px;
  color: #fff;
  position: relative;
  transition: transform 0.5s ease;
}

.primary {
  background: linear-gradient(to bottom right, #414146, #2b6f69); 
}

.secondary {
  background: linear-gradient(to bottom right, #f3f5f6, #00cdb1);
  color: #414146; 
}

.map-card:hover {
  transform: translateY(-5px);
}

.map-header {
  display: flex;
  align-items: center;
  padding: 20px;
}

.map-image-container {
  border-radius: 50%;
  overflow: hidden;
  width: 150px; 
  height: 150px; 
  border: 5px solid #fff; 
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  transition: transform 0.5s ease;
}

.map-image-container:hover {
  transform: scale(1.1); 
}

.image-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.map-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.header-text {
  flex-grow: 1;
}

h2,
h3 {
  margin: 0;
  font-size: 18px;
}

.map-content {
  padding: 20px;
}

p {
  margin: 0;
  font-size: 14px;
  line-height: 1.5;
}
